{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ClinkCrime</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="//d3js.org/d3.v3.js" charset="utf-8"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" charset="utf-8">
  </head>
  <body>
    <div class="wrapper">
      <div class="legend-wrapper">
        <ul class="legend">
        </ul>
      </div>
      <div class="main-col">
        <div id="throbber"></div>
        <h1>
          ClinkCrime
        </h1>
        <div class="question">
          Do events at CenturyLink Field raise crime nearby?
        </div>
        <div class="alert-info">
          <em>Hey there!</em> <br>
          This is very much a demo app, and could still use <span class="strikethrough">a bit</span> a lot of work.
          For a list of known issues, including colorblind friendliness and responsiveness,
          checkout out the Readme on <a href="//github.com/avaleske/clinkcrime">GitHub</a>.
        </div>

        <div class="chart">
          <div class="start-buttons">
            <input type="button" name="start-back" class="start back" value="Move Start 1 Month Backward">
            <input type="button" name="start-forward" class="start forward" value="Move Start 1 Month Forward">
          </div>
          <div class="end-buttons">
            <input type="button" name="end-back" class="end back" value="Move End 1 Month Backward">
            <input type="button" name="end-forward" class="end forward" value="Move End 1 Month Forward">
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
